In [34]:
import pandas as pd
import re
import os

In [71]:
df1 = pd.read_json("Lyrics_Adele.json")
df2 = pd.read_json("Lyrics_HarryStyles.json")
df3 = pd.read_json("Lyrics_SamSmith.json")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   songs   121 non-null    object
dtypes: object(1)
memory usage: 1.1+ KB

In [70]:
df2.head(20)

Empty DataFrame
Columns: [artist, lyrics, title]
Index: []

In [59]:
df.sample(5)

                                                songs
21  {'annotation_count': 0, 'api_path': '/songs/60...
42  {'annotation_count': 1, 'api_path': '/songs/22...
46  {'annotation_count': 1, 'api_path': '/songs/79...
30  {'annotation_count': 0, 'api_path': '/songs/82...
33  {'annotation_count': 1, 'api_path': '/songs/31...

In [80]:
lyrics = []
artists = []
titles = []
df = df3.copy()
for i in range(len(df)):
    for element, info in df["songs"][i].items():
        # print(element)
        if element == "artist":
            artists.append(info)
        if element == "lyrics":
            info = info.replace("\n", " ; ")
            info = re.sub(r'^.*?;', "", info)
            info = re.sub(r'Embed.*?$', "", info)
            lyrics.append(info)
        if element == "title":
            # info = re.sub(r'^.*?\n', "", info)
            titles.append(info)
dfClean3 = pd.DataFrame({"artist":artists, "lyrics":lyrics, "title":titles})
# dfClean.head(20)

In [82]:
cleanDfs = [dfClean1, dfClean2, dfClean3]
final = pd.concat(cleanDfs)

In [83]:
final.lyrics.to_csv('data.csv', index=False)